<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE table SYSTEM "http://web.magti.ge/pda/defines/xml/component.config.dtd">
<config>
<defaultTask value="add" />
<tasks>
    <task name="new" default="1" label="new" />
    <task name="edit" default="1" label="edit" />
    <task name="assignment" default="1" label="assignment" />
    <task name="unset" default="1" label="Unset" />
    <task name="passwordresset" default="1" label="passwordreset" />
</tasks>
<allowTasks>
    <task name="cancel" default="1" label="cancel" />
    <task name="save" default="1" label="save" />
    <task name="save_and_assign" default="1" label="save" />
</allowTasks>
</config>