<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE table SYSTEM "http://web.magti.ge/pda/defines/xml/component.config.dtd">
<config>
	<defaultTask value="add" />
	<tasks>
		<task name="edit" default="1" label="edit" />
		<task name="delete" default="1" label="delete" />
		<task name="save" default="1" label="save" />
		<task name="confirm" default="1" label="confirm" />
		<task name="admin" default="1" label="admin" />
		<task name="manager" default="1" label="manager" />
	</tasks>
	<allowTasks>
		<task name="cancel" default="1" label="cancel" />
	</allowTasks>
</config>
